.sh-header {
  // padding: 50px;

  a {
    height: 0px;
  }

  &__nav {
    position: relative;
    bottom: 18px;
    text-decoration: none;
    color: #333;
    margin: 20px;
    font-size: 30px;

    &:first-of-type {
      margin: 0px;
    }
  }

  &__nav::before, &__nav::after {
    opacity: 0;
  }

  &__nav:hover {
    // font-weight: bolder;
    color: #333;
  }

  &__nav::before { content: '{'; }

  &__nav::after { content: '}'; }

  &__nav:hover::before, &__nav:hover::after  {
    // opacity: 1;
    // font-weight: bolder;
  }

  &__nav.active {
    // font-weight: bolder;
    &::before, &::after {
      opacity: 1;
    }
  }
}