@keyframes toFullScreen {
  from {
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: scale(0.8, 0.8) translate(calc(-50% + -10px), calc(-50%  + -10px));
  }

  to {
    transform: scale(1, 1) translate(calc(-50% + -10px), calc(-50%  + -10px));
  }
}

.projects-card {
  box-shadow: 0px 0px 0px #333;
  border: solid 2px black;
  background: white;
  transition: all 0.1s;

  @media only screen and (min-width: 768px) {
    &:hover {
      box-shadow: 10px -10px 0px #333;
      transform: translate(-10px, 10px);
    }
  }

  &.full-screen {
    animation-name: toFullScreen;
    animation-duration: 0.2s;
    animation-fill-mode: both;

    position: fixed;
    overflow: scroll;
    z-index: 100;
    box-shadow: 10px -10px 0px #333;
    left: 50%;
    top: 50%;
    transform: scale(1, 1) translate(calc(-50% + -10px), calc(-50%  + -10px));
  }


  // Smaller screens
  @media only screen and (max-width: 600px) {
    &.full-screen {
      animation-name: none;
      width: 100vw;
      height: 100vh;
      transform: scale(1, 1) translate(calc(-50%), calc(-50%));
    }
  }

  @media only screen and (min-width: 600px) {
    &.full-screen {
      width: 60vw;
      height: 80vh;
      padding: 50px;
    }

    &.full-screen &__expand-button {
      margin-left: -50px;
      margin-right: -50px;
      margin-bottom: -50px;
    }
  }

  &.full-screen &__content {
    overflow: auto;
  }

  &.full-screen &__technologies {
    display: initial;
  }

  &__divider {
    border-top: #000 solid 2px;
    width: auto;
  }

  &__content {
    overflow: hidden;
    font-size: 20px;
  }

  &__technologies {
    padding-top: 20px;
    display: none;
  }

  &__expand-button {
    border-top: #000 solid 2px;
    cursor: pointer;
  }

  &__description::selection {
    user-select: none;
  }
}